body {
    background-color: #f5ff00;
    background-image: url("img/hearts.gif");
    font-family: "Comic Sans MS", serif;
    font-size: 18px;
}

#title {
    text-align: center;
}

#content {
    text-align: center;
}

#content #summary {
    font-size: 24px;
    color: #00ffd9;
}

#content #movie {
    font-size: 25px;
    color: #ff0000;
}